html
  head
    title = Meme Gallery
    //- link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content

    script(src='/static/index.js')

    style.
      .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 1em;
        padding:20px;
      }

      .grid-item {
        position: relative;
        width: 200px;
        height:200px;
        padding: 0px;
        margin-bottom:10px;
      }
      .grid-item img{
        width: 200px;
      }


      .buttons {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 5px;
        display: flex;
        justify-content: space-between;
        font-size: 12px;
      }

      .accept-button,
      .reject-button {
        flex: 1;
        margin: 0 5px;
      }